<!--<div>
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

        <div class="form-group">
          <div class="col-sm-12">
            <label for="username" class="control-label">Username</label>
            <input type="text" id="username" class="form-control" formControlName="username">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <label for="password" class="control-label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
          Login
        </button>

      </form>
  </div> -->
  <div class="container" >
      <div class="title">
          Welcome
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="input-field col s12">
                  <input [(ngModel)]="userName" id="username"
                      type="email" class="validate">
                  <label for="email">Email</label>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                  <input [(ngModel)]="password" id="password"
                      type="password" class="validate">
                  <label for="password">Password</label>
              </div>
          </div>

          <!--<span>{{errorMsg}}</span>-->
          <button (click)="login()"
              class="btn waves-effect waves-light"
              type="submit" name="action">Login</button>
      </div>
  </div>
